// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    .title {
      top: 50%;
      font-size: 2em;
    }
    grid-template-columns: repeat(2, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/josesmall.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    .containerskills {
      margin-top: 0px;
    }
    .bio {
      text-align: center;
    }

    grid-template-areas:
      "bioimage"
      "bio"
      "icons1"
      "icons2"
      "icons3"
      "skill"
      "experience"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    .title {
      font-size: 4em;
      top: 30%;
      left: 50%;
    }
    grid-template-columns: repeat(1, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }
    .boxes {
      .email {
        font-size: 1rem;
      }
      .phone {
        font-size: 1rem;
      }
    }

    .lg-heading {
      margin-top: 1rem;
      font-size: 5rem;
    }
  }

  .projects {
    .title {
      top: 50%;
      left: 50%;
      font-size: 4em;
    }
    grid-template-columns: 1fr;
  }
}
