@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//about---------------------------------------------------
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "icons1 icons2 icons3"
    "skill skill skill"
    "experience experience experience"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  p {
    font-size: 20px;
  }

  .iconimage {
    background: lighten($primary-color, 10);
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .icon1 {
    text-align: center;
    grid-area: icons1;
  }

  .icon2 {
    text-align: center;
    grid-area: icons2;
  }

  .icon3 {
    text-align: center;
    grid-area: icons3;
  }

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    margin-top: -2px;

    text-align: Left;
    grid-area: bio;
    font-size: 1rem;
  }

  .experience {
    text-align: Center;
    grid-area: experience;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }

  .containerskills {
    grid-area: skill;
    .skills {
      .baseskillbar {
        height: 22px;
        text-align: right;
        border: 0.01px solid black;
        width: 100%;
        background: lighten($primary-color, 10);
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
        border-radius: 8px;
        border-color: black;
      }

      &.HTML {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-size: 16px;
        font-weight: 700;
        color: #000;
        animation: HTML 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 90%;
        background-color: #eece1a;
      }

      &.CSS {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-weight: 700;
        color: #000;
        animation: HTML 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 90%;
        background-color: #eece1a;
      }

      &.Javascript {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-weight: 700;
        color: #000;
        animation: JS 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 80%;
        background-color: #eece1a;
      }

      &.SEO {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-weight: 700;
        color: #000;
        animation: JS 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 80%;
        background-color: #eece1a;
      }

      &.WordPress {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-weight: 700;
        color: #000;
        animation: HTML 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 90%;
        background-color: #eece1a;
      }

      &.Node {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-size: 16px;
        font-weight: 700;
        color: #000;
        animation: JS 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 80%;
        background-color: #eece1a;
      }

      &.PHP {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }
        float: up;

        font-size: 16px;
        font-weight: 700;
        color: #000;
        animation: JS 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 80%;
        background-color: #eece1a;
      }

      &.React {
        margin-top: -25px;
        .skillslabel {
          p {
            position: relative;
            bottom: 25px;
          }
          padding-top: 0px;
          color: white;
          background: lighten($primary-color, 5);
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
          border-left: 0.5px solid #111;
          border-top: 0.5px solid #111;
          border-bottom: 0.5px solid #111;
          width: 110px;
          height: 22px;
          text-align: Center;
        }

        font-size: 13px;
        font-weight: 700;
        color: #000;
        animation: JS 2s ease-out;
        height: 23px;
        border-radius: 8px;
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #111;
        border-bottom: 1px solid #111;
        text-align: right;
        width: 80%;
        background-color: #eece1a;
      }
      @keyframes HTML {
        0% {
          width: 0px;
        }
        100% {
          width: 90%;
        }
      }

      @keyframes JS {
        0% {
          width: 0px;
        }
        100% {
          width: 80%;
        }
      }
    }
  }
}

// Work/Projects--------------------------------------------------
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr);

  .container {
    position: relative;
    width: 100%;
    display: inline-block;
    border-color: $secondary-color;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

  .title {
    font-size: 2em;
    visibility: hidden;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    transition: top 0.5s ease;
  }

  .button {
    position: absolute;
    width: 200px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s ease;
  }
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }

  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 200px;
    border: 3px $secondary-color solid;
  }

  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.562);
    visibility: visible;
    border-color: $secondary-color;
  }

  .container:hover .title {
    visibility: visible;
    bottom: 10px;
  }

  .container:hover .button {
    opacity: 1;
  }
}

// Contact Page-----------------------------------------------------------
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  border-radius: 12px;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
